#main main > .center {
    overflow: visible;
    pointer-events: none;
    > .card {
        width: 8.2rem;
        height: 7rem;
        > .module {
            display: flex;
            position: relative;
            top: -6em;
            z-index: -1;
            > .item {
                cursor: pointer;
                top: 0;
                position: absolute;
                left: 0;
                width: 8.2rem;
                height: 7rem;
                // z-index: 0;
                border-radius: 16px;
                &:hover {
                  display: none;
                }
            }
            > :last-child {
                width: 6rem;
            }
        }
    }
}
