/* 基础样式 当前项目个性化全局样式 */
/* 通用宽度 */
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.center {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
/* 防止缩放变形 */
body {
    min-width: 1000px;
    position: relative;
   z-index: -3;
}
.breadcrumb {
    padding: 10px 0;
}
.breadcrumb a {
    color: #000;
}
body {
    background-color: #111111;
}
* {
    color: #fff;
}
a:visited {
    color: rgb(219, 219, 220);
}
::-webkit-scrollbar{
    background-color: #111111;
}
::-webkit-scrollbar-thumb{
background: #588EE6;
}
html{
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 5px;
}