<link rel="stylesheet" href="components/headerClock/headerClock.css">
<script src="components/headerClock/headerClock.js"></script>
<nav>


    <div class="center">
        <div class="nav-all">
            <div class="susu-img">
                <img src="img/Clock/logo.png" alt="">
            </div>
            <div class="nav-right">
                <div class="r-l">
                    <ul id="rl-ul">
                        <li data-line="0"><a href="#p=Chome">采集时钟</a></li>
                        <li data-line="100"><a href="#p=collect">我的收藏</a></li>
                        <li data-line="200"><a href="#p=clock">我的闹钟</a></li>
                        <li data-line="300"><a href="#p=web">关于网站</a></li>
                    </ul>
                    <div class="line" id="rline"></div>
                </div>
                <div class="r-r">
                    <ul>
                        <li><img src="img/Clock/QQ20230530204237.png" alt=""></li>
                        <li><img src="img/Clock/QQ20230530204329.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>