#header{
.nav-all {
    z-index: 2;
     position: absolute; 
    top: 0;
    width: 100%;
    min-width: 1160px;
    margin: 2% auto;
    display: flex;
    // justify-content: space-between;
    > div.nav-right {
        display: flex;
        flex-direction: column;
        width: 1080px;
        > div.nav-top {
            display: flex;
            justify-content: space-between;
            > div.nav-top-left {
                width: 100%;
                > ul {
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    > li {
                        > a {
                            overflow: visible;
                        }
                        overflow: visible;
                        position: relative;
                        text-align: center;
                        height: 120%;
                        width: 4.5em;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 85%;
                            left: 95%;
                            width: 200%;
                            height: 200%;
                            transform: translate(-50%, -50%);
                            background-image: radial-gradient(#2799ce 0 10%, rgba(0, 0, 0, 0) 80% 90%);
                            background-size: 4.8em 1.8em;
                            background-repeat: no-repeat;
                            font-weight: bold;
                            opacity: 0;
                            z-index: -1;
                        }
                        &:hover {
                            font-weight: bold;
                        }
                        &:hover::before {
                            opacity: 1; /* 设置可见状态 */
                        }
                    }
                }
            }
            > div.nav-top-search {
                display: flex;
                > div.nav-top-search-left {
                    width: 23em;
                    height: 1.8em;
                    border: 0.1em solid #fff;
                    border-top-left-radius: 0.9em;
                    border-bottom-left-radius: 0.9em;
                    > input {
                        width: 95%;
                        margin-left: 5%;
                        height: 100%;
                        border: none;
                        background-color: rgba(0, 0, 0, 0);
                        outline: none;
                    }
                }
                > div.nav-top-search-right {
                    width: 3.5em;
                    height: 1.8em;
                    border: 0.1em solid #fff;
                    border-left: none;
                    border-top-right-radius: 0.9em;
                    border-bottom-right-radius: 0.9em;
                    img {
                        width: 1.5em;
                        position: relative;
                        top: 0.1em;
                        left: 0.8em;
                    }
                }
            }
        }
        > div.nav-bottom {
            margin-left: 5%;
            width: 95%;
            margin-top: 2em;
            height: 2.5em;
            font-size: 0.8em;
            line-height: 2.5em;
            border-radius: 0.7em;
            background-image: linear-gradient(90deg, rgb(41, 50, 39), rgb(47, 88, 113), rgb(112, 73, 37));
            > ul {
                width: 100%;
                display: flex;
                justify-content: space-around;
                > li {
                    > a {
                        &:hover {
                            color: rgb(253, 185, 58);
                        }
                    }
                }
            }
        }
    }
}
}