#main {
    .bd1 {
        #bd1-items {
            display: flex;
            justify-content: space-between;
            > .i-left {
                border: 2px solid #fff;
                > :first-child {
                    > .l-top {
                        width: 26rem;
                        height: 15rem;
                        background-color: #bebebe;
                    }
                }
            }
        }
    }
}               
