<link rel="stylesheet" href="components/footer/footer.css">
<script src="components/footer/footer.js"></script>
<div class="center">
    <div>
        <div class="top">
            <div class="left">
                <div class="title">友情链接</div>
                <div class="warp">
                    <div class="w-left">
                        <a href="http://user.sdo.com/#/circle?circleId=854696">叨鱼社区</a>
                        <a href="https://bbs.nga.cn/ff14">NGA玩家社区</a>
                        <a href="https://ff14.huijiwiki.com/wiki/">最终幻想14中文维基</a>
                    </div>
                    <div class="w-right">
                        <a href="http://xn--v9x.net/">光之獭獭</a>
                        <a href="https://www.ffxivsc.cn/">光之收藏家</a>
                        <a href="https://weibo.com/ffxivnge">艾欧泽亚地理频道</a>
                        <a href="https://www.ffxiv.co/">飞艇坪-最终幻想14网址导航</a>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="r-t">申请说明</div>
                <ul class="r-b">
                    <li>本网站所放置友链不代表本网站观点，暂不受理非[最终幻想14]的友链申请</li>
                    <li>如若有不愿放置链接的情况，可以联系素素微博私信或同样发送邮箱告知皆可</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="bottom">
            <div class="b-left">
                <div class="img">
                    <img src="img/logo_footer.1995582.png" alt="">
                </div>
                <div class="b-left-s">苏ICP备15062378号 苏公网安备32011502010944号</div>
            </div>
            <div class="b-right">
                <span>版权所有 2016-2023 FFXIV.CN& FFSUSU.COM All Rights Reserved. 免责声明</span>
                <span> 网站所引用的FFXIV相关资料与图像:Copyright (C) 2010 - 2023 SQUARE ENIX CO., LTD. All Rights Reserved.</span>
            </div>
        </div>
    </div>
</div>